:root {
    --couleur: green;
    --couleur_clair: #4fd14f;
    --couleur_blanc: white;
    --couleur_sombre: #0c6c0c;
}

/*Header*/
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .navbar_page{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 20px; 
   
  }
  a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  .navbar_page{ /*ul*/
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between
  }
  
  .icone{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }

/*basique de la page*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}
h1 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    color:var(--couleur);
}
.bande {
    height: 100px;
    background-color: var(--couleur_clair);
}
#presentation {
    color :#333;
    line-height: 1.8;
    text-align: center;
}
#corp{
    padding : 10px;
}

/*menu déroulant pour le tri*/
.menu{
    width : 140px;
}
.bouton-menu {
    background-color: var(--couleur);
    color: var(--couleur_blanc);
    width: 60px;
    border: none;
    border-radius: 16px;
    padding : 10px;
    margin-left : 10px;
    margin-bottom: 0px;
    cursor: pointer;
  } 
.menu ul {
    display: none;
}
.menu:hover ul {
    display: block;
    background-color: var(--couleur);
    border : 1px solid var(--couleur_sombre);
    border-radius: 8px;
    width: 110px;
    margin-top : 0px;
    margin-left : 30px;
    
} 
.menu ul li {
    display: inline;
}
.menu ul li button {
    display: block;
    border: none;
    border-radius: 16px;
    width: 150px;
    margin-top: 0px;
    margin-bottom:0px;
    margin-left: -40px;
    text-align: left;
    color: var(--couleur_blanc);
    background-color: var(--couleur);
}
.menu ul li button:hover {
    color : var(--couleur);
    background-color: var(--couleur_clair);
}


/*les cartes d'infos*/
#container{
    width : 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
}
.card {
    background-color: var(--couleur_clair);
    border: 1px solid var(--couleur);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    color : var(--couleur_blanc);
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 8px var(--couleur_sombre);
}
.card img {
    max-width: 100%;
    border-radius: 2px;
}
.card:hover{
    animation-name: Look;
    animation-duration: 0.5s;
    background-color: var(--couleur);
    border: 1px solid var(--couleur_sombre);
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    color : var(--couleur_clair);
    text-align: center;
    font-size: large;
    width: 300px;
    box-shadow: 8px 8px 16px var(--couleur_sombre);
}

.bande {
    height: 100px;
    background-color: #4fd14f;
}

@keyframes Look {
    from{
        background-color: var(--couleur_clair);
        border: 1px solid var(--couleur);
        border-radius: 4px;
        padding: 10px;
        margin: 10px;
        color : var(--couleur_blanc);
        text-align: center;
        font-size: medium;
        width: 250px;
        box-shadow: 0 4px 8px var(--couleur_sombre);
    }
    to{
        background-color: var(--couleur);
        border: 1px solid var(--couleur_sombre);
        border-radius: 8px;
        padding: 10px;
        margin: 10px;
        color : var(--couleur_clair);
        text-align: center;
        font-size: large;
        width: 300px;
        box-shadow: 8px 8px 16px var(--couleur_sombre);
    }
}
