html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f8f9fa;
    color: black;
  }


.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
}
  
  h1 {
    text-align: center;
    margin-top: 60px;
    color:green;
  }
.text_container{
  margin-bottom: 5%;
}
  .presentation {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.125rem; /*18px*/ /* Taille de police confortable */
    line-height: 1.8; /* Améliore la lisibilité */
    color: #333; /* Couleur plus douce pour le texte */
    font-weight: 400; /* Style de texte légèrement plus épais */
  }
  
  #start {
    padding-top: 50px;
    font-size: 1.375rem; /*22px*/
    text-align: center;
    color: green; /* Met en valeur le texte "Start your search" */
    font-weight: bold; /* Rend ce texte plus visible */
    letter-spacing: 0.5px; /* Espacement entre les lettres pour un effet élégant */
  }

  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #4fd14f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;

  }
  
  .searchBox {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  .searchForm {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #004b24;
  }
  
  .results {
    max-height: 400px;
    overflow-y: auto; /* Défilement */
    padding: 10px; 
    background-color: #cefeb9; 
    border: 1px solid #ccc; 
    border-radius: 8px;
  }
  
  .results img {
    width: 150px;
    margin: 10px;
    ;
  }
  
  .results p {
    margin: 10px;
    font-size: 18px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

.bande {
  height: 100px;
  background-color: #4fd14f;
  align-items: center;
}

#corp {
  flex-grow: 1; /* Étend le contenu principal */
  padding: 20px; /* Facultatif : ajoute de l'espace autour */
}

/*Header*/
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.navbar_page{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center; 
  gap: 20px; 
 
}
a{
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.navbar_page{ /*ul*/
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-between
}

.icone{
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
