body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: black;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    color:green;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #4fd14f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;

  }
  
  .searchBox {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #004b24;
  }
  
  .results {
    text-align: center;
  }
  
  .results img {
    width: 150px;
    margin: 10px 0;
  }
  
  .results p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: 10px 0;
  }

.bande {
  height: 100px;
  background-color: #4fd14f;
}
#corp {
  height: 90vh
}